<h1>Listing ws_v1_posts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ws_v1_posts.each do |ws_v1_post| %>
      <tr>
        <td><%= link_to 'Show', ws_v1_post %></td>
        <td><%= link_to 'Edit', edit_ws_v1_post_path(ws_v1_post) %></td>
        <td><%= link_to 'Destroy', ws_v1_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_ws_v1_post_path %>
